.header {
    max-width: 1200px;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nav {
    padding: 1rem;
}

.nav ul {
    display: flex;
    gap: 2rem;
}

.profile {
    min-width: 80px;
}

.profile img {
    border-radius: 100%;
    border: 1px solid #29410a;
    object-fit: cover;
}
