.main {
    max-width: 1200px;
    margin: auto;
    margin-block-end: 1rem;
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-column-gap: 36px;
}

.introduction {
    margin-block-start: 10rem;
}

.introduction h1 {
    font-size: clamp(3rem, 10vw, 5rem);
    color: #fff7ec;
    font-weight: 400;
}

.introduction p {
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: #fff7ec;
    font-weight: 300;
    letter-spacing: 2px;
}

.subtitle {
    border-inline: 1px solid #40ff00b2;
    overflow: hidden;
    width: fit-content;
    margin-block: 2rem;
}

.subtitle h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    letter-spacing: 2px;
    font-weight: 400;
    animation: slide 10s linear infinite;
    background: linear-gradient(90deg, #40ff00, #c0ff00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 5px #c0ff00;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-70%);
    }
}

.hero {
    /* border: 1px solid red; */
    position: relative;
}

.blob {
    position: absolute;
    z-index: -1;
    top: 7rem;
}

.blob img {
    min-width: 400px;
}
